.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #ece5ea;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-logo img {
    float: left;
    display: inline-block;
    
    padding: 5px; 
}

.bars3 {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.bars3 svg {
  width: 24px;
  height: 24px;
  fill: white;
}
